streamlit
pandas
numpy
scikit-learn
scikit-fuzzy
shap
pmdarima
statsmodels
beautifulsoup4
requests
fake-useragent
joblib
plotly
matplotlib
sendgrid
google-generativeai
python-dotenv
faiss-cpu
fastapi
uvicorn
scipy
